<footer>
    <mat-toolbar fxLayout="row" fxLayoutAlign="space-between center">
      <a class="logo-footer" href="https://www.ubfc.fr/"><img class="logo-toolbar clickable"  src="assets/images/ubfc_logo.png"/></a>
      <a class="logo-footer" href="http://leadserv.u-bourgogne.fr/fr/"><img class="logo-toolbar clickable"  src="assets/images/lead_logo.png"/></a>
      <a class="logo-footer" href="https://www.cnrs.fr/fr/"><img class="logo-toolbar clickable"  src="assets/images/cnrs_logo.png"/></a>
    </mat-toolbar>
</footer>