<h1>À propos / Contact</h1>

<h2>Contact</h2>
<a href="mailto:contactlead@u-bourgogne.fr" id="to-copy" class="text-black">
    contactlead@u-bourgogne.fr
</a>

<h2>Réalisation</h2>
Application web réalisé par Nicolas Forgeron dans le cadre de son PFE.<br/>
<!--Site web réalisé par Samuel Tellier, Elio Gence, Pape Ndiaye, Jules Magnien, Dan Hou.-->
Avec la direction de Patrick Bard<!-- & Emmanuel Bigand-->.<br/>
Version 2.0.

<h2>Conditions d'utilisation</h2>

<a href="/assets/docs/CGU_Puzzles_Musicaux.pdf" target="_blank">Conditions Générales d'Utilisation du Site</a>

<br/>
<button id="back-button" mat-raised-button routerLink="/">
    <mat-icon>arrow_back</mat-icon>
    Retour
</button>