<div class="title"><span>{{'APP.ABOUT' | translate}} / {{'APP.CONTACT' | translate}}</span></div>

<p class="sub-title">{{'APP.CONTACT' | translate}}</p>
<a href="mailto:contactlead@u-bourgogne.fr" id="to-copy" class="text-black">
    contactlead@u-bourgogne.fr
</a>

<p class="sub-title">{{'APP.DEVELOPMENT' | translate}}</p>
<span>{{'DEVELOPMENT.LINE1' | translate}}</span><br/>
<!--Site web réalisé par Samuel Tellier, Elio Gence, Pape Ndiaye, Jules Magnien, Dan Hou.-->
<span>{{'DEVELOPMENT.LINE2' | translate}}<!-- & Emmanuel Bigand-->.</span><br/>
<span>{{'APP.VERSION' | translate}} 2.3</span>

<p class="sub-title">{{'APP.CGU' | translate}}</p>

<a href="assets/docs/CGU_Puzzles_Musicaux.pdf" target="_blank">PDF {{'APP.CGU' | translate}}</a>

<div fxLayout="row" fxLayoutAlign="center center" class="padding-top">
    <button mat-raised-button routerLink="/" class="button-back-bottom">
        <mat-icon>arrow_back</mat-icon>
        {{'APP.BACK' | translate}}
    </button>
</div>