<div class="title"><span>À propos / Contact</span></div>

<p class="sub-title">Contact</p>
<a href="mailto:contactlead@u-bourgogne.fr" id="to-copy" class="text-black">
    contactlead@u-bourgogne.fr
</a>

<p class="sub-title">Réalisation</p>
<span>Application web réalisée par Nicolas Forgeron dans le cadre de son PFE.</span><br/>
<!--Site web réalisé par Samuel Tellier, Elio Gence, Pape Ndiaye, Jules Magnien, Dan Hou.-->
<span>Avec la direction de Patrick Bard<!-- & Emmanuel Bigand-->.</span><br/>
<span>Version 2.0.</span>

<p class="sub-title">Conditions d'utilisation</p>

<a href="assets/docs/CGU_Puzzles_Musicaux.pdf" target="_blank">Conditions Générales d'Utilisation du Site</a>

<br/>
<div fxLayout="row" fxLayoutAlign="center center">
    <button mat-raised-button routerLink="/">
        <mat-icon>arrow_back</mat-icon>
        Retour
    </button>
</div>