h1 {
    text-align: center;
    font-size: 32px;
    margin-top: 1em;
    margin-bottom: 1em;
}

h2 {
    text-decoration: underline;
    margin-top: 1em;
    margin-bottom: 1em;
}

#back-button {
    margin-top: 2em;
}