<div class="title"><span>Comment jouer ?</span></div>

<div class="buttons-group">
    <button routerLink="/form" mat-raised-button color="primary">Jouer</button>
    <button mat-raised-button color="primary">Entrainement</button>
</div>

<video controls="">
    <source src="assets/videos/principe.mp4" type="video/mp4"> 
</video>

<div fxLayout="row" fxLayoutAlign="center center">
    <button mat-raised-button routerLink="/">
        <mat-icon>arrow_back</mat-icon>
        Retour
    </button>
</div>