<div class="title"><span>{{'APP.HOW' | translate}}</span></div>

<div class="buttons-group">
    <button routerLink="/form" mat-raised-button color="primary">{{'APP.PLAY' | translate}}</button>
    <button routerLink="/training" [state]="{training:true}" mat-raised-button color="primary">{{'APP.TRAINING' | translate}}</button>
</div>

<video controls="">
    <source src="assets/videos/principe.mp4" type="video/mp4"> 
</video>

<div class="padding-top" fxLayout="row" fxLayoutAlign="center center">
    <button mat-raised-button routerLink="/" class="button-back-bottom">
        <mat-icon>arrow_back</mat-icon>
        {{'APP.BACK' | translate}}
    </button>
</div>