<ng-container [formGroup]="form">

    <div class="title"><span>Profil</span></div>

    <mat-form-field appearance="fill">
        <mat-label>Adresse email</mat-label>
        <input matInput type="email" placeholder="exemple@web.fr" required formControlName="email">
        <mat-icon matSuffix>email</mat-icon>
        <mat-error *ngIf="form.controls['email'].errors?.required">Ce champ est requis</mat-error>
        <mat-error *ngIf="form.controls['email'].errors?.email">L'adresse mail n'est pas valide</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Âge</mat-label>
        <input matInput type="number" min="2" max="100" required formControlName="age">
        <mat-icon matSuffix>cake</mat-icon>
        <mat-error *ngIf="form.controls['age'].errors?.required">Ce champ est requis</mat-error>
        <mat-error *ngIf="form.controls['age'].errors?.min || form.controls['age'].errors?.max">L'âge saisi est invalide</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Statut professionnel actuel</mat-label>
        <mat-select required formControlName="statut">
            <mat-option value="0">Étudiant</mat-option>
            <mat-option value="0">Actif</mat-option>
            <mat-option value="2">Retaité</mat-option>
            <mat-option value="3">Sans emploi</mat-option>
        </mat-select>
        <mat-icon matSuffix>work</mat-icon>
        <mat-error *ngIf="form.controls['statut'].errors?.required">Ce champ est requis</mat-error>
    </mat-form-field>

    <div class="title"><span>Expérience musicale</span></div>

    <mat-form-field appearance="fill">
        <mat-label>Expérience musicale</mat-label>
        <mat-select required formControlName="experience">
            <mat-option value="0">Aucune expérience</mat-option>
            <mat-option value="1">Amateur</mat-option>
            <mat-option value="2">Professionnel</mat-option>
        </mat-select>
        <mat-icon matSuffix>music_note</mat-icon>
        <mat-error *ngIf="form.controls['experience'].errors?.required">Ce champ est requis</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" *ngIf="form.controls['experience']?.value != 0">
        <mat-label>De quelle manière avez-vous appris la musique ?</mat-label>
        <mat-select formControlName="apprentissage">
            <mat-option value="0">Autodidacte</mat-option>
            <mat-option value="1">Professeur particulier</mat-option>
            <mat-option value="2">École de musique</mat-option>
            <mat-option value="3">Conservatoire</mat-option>
        </mat-select>
        <mat-icon matSuffix>school</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="fill" *ngIf="form.controls['experience']?.value != 0">
        <mat-label>Quels instruments avez vous pratiqué ?</mat-label>
        <input matInput type="text" placeholder="violon, flute, ..." formControlName="instruments">
        <mat-icon matSuffix>piano</mat-icon>
      </mat-form-field>

    <mat-form-field appearance="fill" *ngIf="form.controls['experience']?.value != 0">
        <mat-label>Combien de temps avez vous pratiqué ?</mat-label>
        <input matInput type="number" min="0" max="100" formControlName="pratique">
        <mat-icon matSuffix>hourglass_empty</mat-icon>
    </mat-form-field>
    
    <div class="buttons-group-back-next">
        <button mat-raised-button routerLink="/">Retour</button>
        <button mat-raised-button routerLink="/difficulty" color="primary" [disabled]="!form.valid">Valider</button>
    </div>

</ng-container>