.buttons-group {
    padding-left: 10%;
    padding-right: 10%;
    
    display: flex;
    flex-direction: row;
    gap: 2em;
    align-items: center;
    
    button {
        flex: 1;
    }
}