<div class="puzzle" cdkDropListGroup>
    
    <div class="slider-container" *ngIf="available_solution">
        <button mat-mini-fab 
        [color]="audio_manager.mode != modes.solution ? 'primary' : 'accent'" 
        (click)="audio_manager.switch_solution(); startTimer()"
        >
            <mat-icon *ngIf="audio_manager.mode != modes.solution">play_arrow</mat-icon>
            <mat-icon *ngIf="audio_manager.mode == modes.solution">pause</mat-icon>
        </button>
        <span>Réference : </span>
        <mat-slider 
        [min]="0" [max]="audio_manager.duration" 
        [value]="audio_manager.last_position_solution"
        (input)="audio_manager.move_solution($event.value)"
        ></mat-slider>
    </div>

	<ng-container *ngFor="let instrument of puzzle.pieces; let j = index">
        <ng-container *ngIf="j == 0">
            <div [class.separator-row]="this.available_solution"  class="title-row">
                Pièces disponibles :
            </div>
        </ng-container>
        <ng-container *ngIf="j == nb_instruments">
            <div class="separator-row title-row">
                Réponse :
            </div>
        </ng-container>
        <div class="puzzle-row">
            <span>Instrument {{1 + j % nb_instruments}} :</span>
            <ng-container *ngFor="let piece of instrument; let i = index">
                <div class="piece-container" cdkDropList 
                    cdkDropListOrientation="horizontal"
                    [cdkDropListData]="{item:piece, instrument:j, order:i}" 
                    [cdkDropListEnterPredicate]="rightPartitionPredicate"
                    (cdkDropListDropped)="drop($event); startTimer()"
                    [style.backgroundColor]="colors[j % nb_instruments]">

                    <div class="space movable" cdkDrag [cdkDragDisabled]="!dragging"
                    *ngIf="!piece.empty" [style.backgroundColor]="colors[j % nb_instruments]"
                    >
                        <div *cdkDragPlaceholder></div>
                        <ng-container *ngIf="!piece.empty">
                            <div class="piece-index">{{getIndex(piece)}}</div>
                            <mat-icon class="piece-move">open_with</mat-icon>
                            <button class="piece-button" mat-mini-fab
                            [color]="audio_manager.mode !== modes.piece || audio_manager.current_piece !== piece ? 'primary' : 'accent'"
                            (click)="audio_manager.switch_piece(piece); startTimer()"
                            >
                                <mat-icon *ngIf="audio_manager.mode !== modes.piece || audio_manager.current_piece !== piece">play_arrow</mat-icon>
                                <mat-icon *ngIf="audio_manager.mode === modes.piece && audio_manager.current_piece === piece">stop</mat-icon>
                            </button>
                            <br/>
                            <mat-slider (mouseenter)="dragging = false;" (mouseleave)="dragging = true;" min="0" [max]="audio_manager.duration / puzzle.nb_pieces"
                            [value]="audio_manager.current_piece === piece ? (audio_manager.last_position_piece + 0.01) % (audio_manager.duration / puzzle.nb_pieces) : 0"
                            (input)="audio_manager.move_piece($event.value, piece)"
                            ></mat-slider>

                            <!--<mat-progress-bar mode="determinate"
                            [value]="audio_manager.current_piece === piece ?
                            100 * ((audio_manager.last_position_piece + 0.01) % (audio_manager.duration / puzzle.nb_pieces)) / (audio_manager.duration / puzzle.nb_pieces) : 0">
                            </mat-progress-bar>-->
                        </ng-container>
                    </div>
                    <div class="space" cdkDrag *ngIf="piece.empty" cdkDragDisabled=true>
                        <div *cdkDragPlaceholder></div>
                    </div>
                </div>
            </ng-container>
        </div>
	</ng-container>
</div>

<!--<div class="slider-container">
    <button mat-mini-fab 
    [color]="audio_manager.mode != modes.response ? 'primary' : 'accent'" 
    (click)="audio_manager.switch_response(); startTimer()" [disabled]="!puzzle.complete()"
    >
        <mat-icon *ngIf="audio_manager.mode != modes.response">play_arrow</mat-icon>
        <mat-icon *ngIf="audio_manager.mode == modes.response">pause</mat-icon>
    </button>
    <span>Proposition : </span>
    <mat-slider 
    [min]="0" [max]="audio_manager.duration" 
    [value]="audio_manager.position_slider_response()"
    (input)="audio_manager.move_response($event.value)"
    [disabled]="!puzzle.complete()"
    ></mat-slider>
</div>-->

<div class="validation-button">
    <button mat-raised-button color="primary" [disabled]="!puzzle.complete()" (click)="openResultDialog()">
        <mat-icon>done</mat-icon>
        Valider
    </button>
</div>