<div class="puzzle" cdkDropListGroup> 
	<ng-container *ngFor="let instrument of puzzle; let j = index">
        <ng-container *ngIf="j == nb_instruments">
            <div class="separator-row title-row">
                Réponse :
            </div>
        </ng-container>
        <ng-container *ngIf="j == 0">
            <div class="title-row">
                Pièces disponibles :
            </div>
        </ng-container>
        <div class="puzzle-row">
            <span>Instrument {{1 + j % nb_instruments}} :</span>
            <ng-container *ngFor="let piece of instrument; let i = index">
                <div class="piece-container" cdkDropList 
                    cdkDropListOrientation="horizontal"
                    [cdkDropListData]="{item:piece, instrument:j, order:i}" 
                    [cdkDropListEnterPredicate]="rightPartitionPredicate"
                    (cdkDropListDropped)="drop($event)"
                    [style.backgroundColor]="colors[j % nb_instruments]">

                    <div class="space movable" cdkDrag *ngIf="!piece.empty" [style.backgroundColor]="colors[j % nb_instruments]">
                        <div *cdkDragPlaceholder></div>
                        <ng-container *ngIf="!piece.empty">
                            <div class="piece-index">{{getIndex(piece)}}</div>
                            <button (click)="play(piece)" mat-mini-fab color="primary">
                                <mat-icon *ngIf="!piece.playing">play_arrow</mat-icon>
                                <mat-icon *ngIf="piece.playing">pause</mat-icon>
                            </button>
                        </ng-container>
                    </div>
                    <div class="space" cdkDrag *ngIf="piece.empty" cdkDragDisabled=true >
                        <div *cdkDragPlaceholder></div>
                    </div>
                </div>
            </ng-container>
        </div>
	</ng-container>
</div>

<div class="slider-container" *ngIf="available_solution">
    <button mat-mini-fab color="primary" (click)="play_solution()">
        <mat-icon *ngIf="audio_solution.paused">play_arrow</mat-icon>
        <mat-icon *ngIf="!audio_solution.paused">pause</mat-icon>
    </button>
    <span>Réference : </span>
    <mat-slider 
    [min]="0" [max]="audio_solution.duration" 
    [value]="audio_solution_position"
    (input)="audio_solution.currentTime = $event.value"
    ></mat-slider>
</div>

<div class="validation-button">
    <button mat-raised-button color="primary" [disabled]="!puzzle_complete()" (click)="openResultDialog()">
        <mat-icon>done</mat-icon>
        Valider
    </button>
</div>