.puzzle {
    display: flex;
    flex-direction: column;
}

.puzzle-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    span {
        font-size: large;
        white-space: nowrap;
    }
}

.title-row {
    width: 100%;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: large;
}

.separator-row {
    width: 100%;
    border-top: #ccc 1vh double;
    margin: 1em 1em 0 0;
}

.space {
    line-height: 5rem;
    height: 5rem;
    text-align: center;
    box-sizing: border-box;
}

.piece-container {
    flex: 1 0 5rem;               
    margin: 5px;                 
    background-color: transparent;
    height: 5rem;
    text-align: center;
    position:relative;
    border: 1px solid #ccc;
}

.piece-index {
    position: absolute;
    line-height: initial;
    margin: 0.2em;
    font-weight: bold;
}

}

.validation-button {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 1em;
    button {
        width: 20%;
    }
}

// drag & drop animation

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
    opacity: 0.8;
}