<h2 mat-dialog-title>{{'APP.CONNECTION' | translate}}</h2>
<mat-dialog-content>
    <form [formGroup]="form" (keyup.enter)="close()">
        <mat-form-field appearance="fill">
            <mat-label>{{'APP.PASSWORD' | translate}}</mat-label>
            <input cdkFocusInitial matInput [type]="hide ? 'password' : 'text'" formControlName="password" required>
            <mat-icon class="clickable" matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>
    </form>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button [mat-dialog-close]="null"><mat-icon>close</mat-icon>{{'APP.CANCEL' | translate}}</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="form.value.password" [disabled]="!form.valid"><mat-icon>login</mat-icon>{{'APP.LOGIN' | translate}}</button>
</mat-dialog-actions>