/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.logo-toolbar {
    height: inherit;
}

.clickable {
    cursor: pointer;
}

.movable {
    cursor: move;
}

.padding-top {
    padding-top: 1em;
}

.neutral-link {
    color: inherit;
    text-decoration: none;
}

.title-big {
    text-align: center;
    font-size: 64px;
    margin-top: 1em;
    margin-bottom: 0.2em;
    white-space: nowrap;
}

.title {
    text-align: center;
    font-size: 32px;
    margin-top: 1em;
    margin-bottom: 1em;
}

.mat-form-field {
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
}

.buttons-group-back-next {
    padding-left: 10%;
    padding-right: 10%;
    
    display: flex;
    flex-direction: row;
    gap: 2em;
    align-items: center;
    
    button {
        flex: 1;
    }
}

.button-back-bottom {
    width: 50%;
    max-width: 300px;
}

@media (max-width: 800px) {
    .buttons-group-back-next {
        flex-direction: column;
        gap: 1em;

        button {
            width: 100%;
        }
    }

    .button-back-bottom {
        width: 100%;
        max-width: unset;
    }
}