<div fxLayout="column" class="home-container">

    <div class="title-big"><span>Bienvenue !</span></div>
    <div class="title"><span>Puzzle musical</span></div>
    <div class="buttons-group">
        <button mat-raised-button color="primary">Jouer</button>
        <button routerLink="principe" mat-raised-button color="primary">Comment jouer ?</button>
        <button mat-raised-button color="primary">Entrainement</button>
    </div>   

    <div class="img-home">
        <img  src="assets/images/puzzle_logo.png"/>
    </div>

</div>