.buttons-group {
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
    
    button {
        width: 50%;
        min-width: 200px;
    }
}

h1 {
    text-align: center;
    font-size: 64px;
    margin-top: 1em;
    margin-bottom: 1em;
}