<ng-container [formGroup]="form">

    <div class="title"><span>Difficulté</span></div>

    <div class="radio-group">
        <label>Nombre d'instrument(s) : </label>
        <mat-radio-group formControlName="nb_instruments">
            <ng-container *ngFor="let option of config.difficulty.available_instruments">
                <mat-radio-button [value]="option">{{option}}</mat-radio-button>
            </ng-container>
        </mat-radio-group>
      </div>

    <div class="radio-group">
        <label>Nombre de morceaux : </label>
        <mat-radio-group formControlName="nb_pieces">
            <ng-container *ngFor="let option of config.difficulty.available_pieces">
                <mat-radio-button [value]="option">{{option}}</mat-radio-button>
            </ng-container>
        </mat-radio-group>
    </div>

    <div class="radio-group" *ngIf="config.difficulty.ask_for_available_solution">
        <label>Lecture de la piste solution : </label>
        <div>
            <mat-checkbox formControlName="available_solution">Oui</mat-checkbox>
        </div>
    </div>
    
    <div class="buttons-group-back-next">
        <button mat-raised-button routerLink="/form"><mat-icon>arrow_back</mat-icon>Retour</button>
        <button mat-raised-button routerLink="/play" color="primary" [disabled]="!form.valid" [state]="{difficulty:form.value, training:false, form:state.form}">
        <mat-icon>done</mat-icon>
        Valider</button>
    </div>

</ng-container>