<ng-container [formGroup]="form">

    <div class="title"><span>Difficulté</span></div>

    <div class="radio-group">
        <label>Nombre d'instrument(s) : </label>
        <mat-radio-group formControlName="nb_instruments">
            <ng-container *ngFor="let option of config.difficulty.available_instruments">
                <mat-radio-button [value]="option">{{option}}</mat-radio-button>
            </ng-container>
        </mat-radio-group>
      </div>

    <div class="radio-group">
        <label>Nombre de morceaux : </label>
        <mat-radio-group formControlName="nb_pieces">
            <ng-container *ngFor="let option of config.difficulty.available_pieces">
                <mat-radio-button [value]="option">{{option}}</mat-radio-button>
            </ng-container>
        </mat-radio-group>
    </div>
    
    <div class="buttons-group-back-next">
        <button mat-raised-button routerLink="/form">Retour</button>
        <button mat-raised-button routerLink="/play" color="primary" [disabled]="!form.valid"
                [state]="{
                    nb_instruments: this.form.get('nb_instruments').value, 
                    nb_pieces: this.form.get('nb_pieces').value
                }"
        >Valider</button>
    </div>

</ng-container>