table {
    width: 100%;
    margin: 1em;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
    padding-right: 1em;
}

div {
    /*display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;*/
}