<mat-toolbar color="primary">
    <img class="logo-toolbar clickable" routerLink="/" src="assets/images/puzzle_logo.png"/>
    <a class="title-toolbar neutral-link" routerLink="/">LEAD - {{'APP.TITLE' | translate}}</a>

    <span class="spacer"></span>
    <ng-container>
        <mat-icon>language</mat-icon>
        <button mat-button [matMenuTriggerFor]="menuLanguage" [matTooltip]="'APP.TOOLTIPS.CHANGE_LANGUAGE' | translate">
            {{'LANGUAGE.' + currentLanguage | uppercase | translate}}
            <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #menuLanguage="matMenu">
            <a mat-menu-item *ngFor="let language of languageList" (click)="setLanguage(language)">
                {{'LANGUAGE.' + language | uppercase | translate}}
            </a>
        </mat-menu>
    </ng-container>
    <button mat-button routerLink="/about" [matTooltip]="'APP.TOOLTIPS.HELP' | translate"><mat-icon>help_outline</mat-icon></button>
    <button *ngIf="!connectionService.Authenticated" mat-button (click)="openPasswordDialog()" [matTooltip]="'APP.TOOLTIPS.LOGIN' | translate"><mat-icon>login</mat-icon></button>
    <button *ngIf="connectionService.Authenticated" routerLink="/admin" mat-button [matTooltip]="'APP.TOOLTIPS.ADMINISTRATION' | translate"><mat-icon>manage_accounts</mat-icon></button>
    <button *ngIf="connectionService.Authenticated" mat-button (click)="disconnect()" [matTooltip]="'APP.TOOLTIPS.LOGOUT' | translate"><mat-icon>logout</mat-icon></button>

  </mat-toolbar>


